<div class="search-wrapper" [ngClass]="status ? 'on' : ''">
  <div class="close-btn" (click)="onCloseSearch()"><i class="fa fa-times" aria-hidden="true"></i></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form (ngSubmit)="onSubmit(formSearch)" #formSearch="ngForm" method="post">
          <input type="search" name="search" placeholder="Type any keywords..." ngModel>
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ##### Header Area Start ##### -->
<header class="header-area">
  <!-- Navbar Area -->
  <div class="delicious-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="deliciousNav">

          <!-- Logo -->
          <a class="nav-brand" href="index.html"><img src="./assets/img/core-img/logo.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- close btn -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li [ngClass]="{'active': link === 'home'}"><a routerLink="/home">Home</a></li>
                <li [ngClass]="{'active': link === 'blog'}"><a routerLink="/blog">Blog</a></li>
                <li [ngClass]="{'active': link === 'recipe'}"><a routerLink="/recipe">Recettes</a></li>
              </ul>
              <div class="search-btn" (click)="onSearchButtonPressed()">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->
