<app-nav [link]="link"></app-nav>
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(./assets/img/bg-img/breadcumb2.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-text text-center">
          <h2>Recettes</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-area section-padding-80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="blog-posts-area">

          <div class="single-blog-area mb-80" *ngFor="let recipe of recipes">

            <div class="blog-thumbnail">
              <img src="{{recipe.image}}" alt="">
            </div>

            <div class="blog-content">
              <a [routerLink]="['/recipe', recipe.id]" class="post-title">{{recipe.title}}</a>
              <p>{{recipe.description}}</p>
              <a [routerLink]="['/recipe', recipe.id]" class="btn delicious-btn mt-30">Voir</a>
            </div>
          </div>
        </div>
        <!--        <nav aria-label="Page navigation example">-->
        <!--          <ul class="pagination">-->
        <!--            <li class="page-item active"><a class="page-link" href="#">01.</a></li>-->
        <!--            <li class="page-item"><a class="page-link" href="#">02.</a></li>-->
        <!--            <li class="page-item"><a class="page-link" href="#">03.</a></li>-->
        <!--          </ul>-->
        <!--        </nav>-->
      </div>
      <div class="col-12 col-lg-4">
        <div class="blog-sidebar-area">
          <div class="single-widget mb-80">
            <h6>Categories</h6>
            <ul class="list">
              <li><a (click)="reset()" href="javascript:void(0)">Toutes</a></li>
              <li *ngFor="let category of categories"><a (click)="selectCategory(category.id)" href="javascript:void(0)">{{category.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
